In [2]:
import pandas as pd

data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
df=pd.DataFrame.from_dict(data)

In [3]:
df

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [4]:
df_dict=df.to_dict()

In [5]:
df_dict

{'col_1': {0: 3, 1: 2, 2: 1, 3: 0}, 'col_2': {0: 'a', 1: 'b', 2: 'c', 3: 'd'}}